
<input  style="display: none" type='file' (change)="onSelectFile($event)" #fileInput accept="image/*">



<div class="top-buttons">
  <button mat-raised-button style="margin-right: 10px; margin-bottom: 5px;  font-size: 17px" color="accent" (click)="fileInput.click()"><mat-icon>add circle</mat-icon> Select Image</button>


  <button mat-raised-button style="margin-right: 5px; margin-bottom: 5px;" [color]="colorotsu" (click)="otsuBinarization()" [disabled]="disableImageFilter"><fa-icon *ngIf="OtsuSpinner" [icon]="faSpinner" size="lg" [spin]="true"></fa-icon> otsu</button>
  <button mat-raised-button style="margin-right: 5px; margin-bottom: 5px;" [color]="colorsauvola" (click)="sauvolaBinarization()" [disabled]="disableImageFilter"><fa-icon *ngIf="SauvolaSpinner" [icon]="faSpinner" size="lg" [spin]="true"></fa-icon> sauvola</button>
  <!-- <button mat-raised-button style="margin-right: 5px; margin-bottom: 5px;" [color]="colornegative" (click)="InvertColoursFilter()" [disabled]="disableImageFilter">invert Colours</button> -->
  <button mat-raised-button style="margin-right: 5px; margin-bottom: 5px;" [color]="colorgpp" (click)="gppdBinarization()" [disabled]="disableImageFilter"><fa-icon *ngIf="GppSpinner" [icon]="faSpinner" size="lg" [spin]="true"></fa-icon> gpp</button>
  <button mat-raised-button style="margin-right: 5px; margin-bottom: 5px;"  (click)="restore()" [disabled]="disableImageFilter">restore Image</button>

  <button mat-raised-button color="accent" (click)="save()" style="margin-right: 5px; margin-bottom: 5px;"   [disabled]="disableImageFilter">
    <mat-icon>save</mat-icon> Save Image
  </button>

 
  <mat-button-toggle-group *ngIf="img.src" #group="matButtonToggleGroup">
    <mat-button-toggle (click)="fillscreen()" matTooltip="fill screen">
      <mat-icon>fullscreen</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="fitscreen()" matTooltip="fit screen">
      <mat-icon>fullscreen_exit</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>


</div>

<mat-progress-bar *ngIf="load" mode="buffer"></mat-progress-bar>
 



<div class="row">
        <div class="side">
                <div *ngIf="img.src">

                    <strong><span style="color:#ffc400;font-size:15px"> Image dimensions:</span> {{img.width}} x {{img.height}} pixels</strong>
                    <p>
                    Threshold:
                    <mat-slider 
                        [disabled]="disableImageFilter"
                        color="warn" 
                        [thumbLabel]= "true"
                        [step]="step"
                        [(ngModel)]="value"
                        [max]="max"
                        [min]="min" (change)="manualThresholdBinarization()">
                    </mat-slider>{{value}}
                    </p>
   
                   
                    <canvas style=" max-width: 100%; " id="myChart"></canvas>


                     <mat-expansion-panel>
      
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            sauvola parameters
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                       
                        <mat-form-field color="warn">
                          <input matInput type="number" autocomplete="off" [(ngModel)]="masksize" placeholder="masksize">
                        </mat-form-field>
                        <mat-form-field color="warn">
                          <input matInput type="number" [(ngModel)]="stathera" placeholder="k" step="0.1" min="0">
                        </mat-form-field>
                        <mat-form-field color="warn">
                          <input matInput type="number" [(ngModel)]="rstathera" placeholder="R">
                        </mat-form-field>
                        <mat-form-field color="warn">
                          <input matInput type="number" [(ngModel)]="n" placeholder="n">
                        </mat-form-field>
                       
                      </mat-expansion-panel>

                      <mat-expansion-panel>
      
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              gpp parameters
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                         
                          <mat-form-field color="warn">
                            <input matInput type="number" [(ngModel)]="dw" placeholder="dW" min="1">
                          </mat-form-field>
                          <mat-form-field color="warn">
                            <input matInput type="number" [(ngModel)]="k" placeholder="k" min="0.1" step="0.1">
                          </mat-form-field>
                          <mat-form-field color="warn">
                            <input matInput type="number" [(ngModel)]="R" placeholder="R" min="10" step="10">
                          </mat-form-field>
                          <mat-form-field color="warn">
                            <input matInput type="number" [(ngModel)]="q" placeholder="q" step="0.1">
                          </mat-form-field>
                          <mat-form-field color="warn">
                            <input matInput type="number" [(ngModel)]="p1" placeholder="p1" step="0.1">
                          </mat-form-field>
                          <mat-form-field color="warn">
                            <input matInput type="number" [(ngModel)]="p2" placeholder="p2" step="0.1">
                          </mat-form-field>
                          <mat-form-field color="warn">
                            <input matInput type="number" [(ngModel)]="dw1" placeholder="dW1" min="1">
                          </mat-form-field>
                            <mat-checkbox color="warn" style="margin-left: 5px" [(ngModel)]="upsampling">on/off</mat-checkbox>
                         
                        </mat-expansion-panel>
                                
                      
                </div>      
        </div>
        <div class="main" id="main">
            <div class="container">
                <canvas mouseWheel (mouseWheelUp)="mouseWheelUpFunc()" (mouseWheelDown)="mouseWheelDownFunc()" class="responsive" [ngStyle]="{'width.px': width }"  #canvasfilter id="myCanvas"></canvas>
                <div *ngIf="showSpinner" class="spinner"></div>
            </div>
               
               
           
               
        
        </div>
</div>
