
.imgbox {
display: grid;
height: 100%;
text-align: center;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
.center-fit {
max-width: 50%;
max-height: 50vh;
margin: auto;

}


