

<mat-tab-group (selectedTabChange)="tabSelectionChanged($event)"
                                            [(selectedIndex)]="tabIndex">



    <mat-tab label="Binarization">
     <app-binarization
       (updateImageEvent)="updateImage($event)">
     </app-binarization>
    </mat-tab>

    <mat-tab label="Segmentation">
      <app-words-segment
         (updateEvent)="updateTable($event)">
      </app-words-segment>
    </mat-tab>

    <mat-tab label="multiple Processing">
        <app-multiple-processing
           (updateImageEvent)="editImage($event)"
           (updateEvent)="updateTable($event)">
        </app-multiple-processing>
    </mat-tab>

    <mat-tab label="extracted data">
      <app-image-info></app-image-info>
    </mat-tab>

  </mat-tab-group>

