<h1 mat-dialog-title>selected Word:</h1>
<div mat-dialog-content>

    <P><img  [src]="data.CroppedImage" /></P>
  <mat-form-field color="warn">
    <input matInput type="text" placeholder="enter word" [(ngModel)]="value" cdkFocusInitial (keyup.enter)=add()/>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>  
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <div class="alternative"><button mat-button color="primary" color="primary" (click)="onNoClick()">cancel</button></div>
  <button mat-raised-button color="warn" (click)="add()" >add</button>  <!-- [mat-dialog-close]="value"  -->
</div>
