<div style="padding:0 5%;">
  <h1 style="font-family:Helvetica,sans-serif;">
    Jcrop Example <span style="color:lightgray;">- draw some crops!</span>
  </h1>
 
  
  <br>
  
  

    <div style="margin-top:0.5em;">
    
      <button (click)="xxx(0.2)">Low</button>
      <button (click)="xxx(0.6)">medium</button>
      <button (click)="xxx(0.9)">Full</button>
      <button (click)="log()">log </button>
      <button (click)="rect()">new rect </button>
      <button (click)="remove()">remove rect </button>
      
    </div>

    <br>




  <img id="target" style=" max-width: 100%; max-height: 100%;" src="./assets/document1.jpg">

  </div>