<div style="padding:0 5%;" class="responsive">
  
 
  
  <br>
  
  

    <div style="margin-top:0.5em;">
    
      <button (click)="xxx(0.1)">Low</button>
      <button (click)="xxx(0.6)">medium</button>
      <button (click)="xxx(0.9)">Full</button>
      <button (click)="log()">log </button>
      <button (click)="rect()">new rect </button>
      <button (click)="remove()">remove rect </button>
      
    </div>

    <br>

</div>

  <div class="centerimg">
    <div class="responsive">
            <img id="target"   src={{imageUrl}}>
    </div>
</div>
  <canvas  #canvasfilter></canvas>
 
 