
<div style="margin: 10px">
    <button mat-raised-button style="margin-right: 10px; margin-bottom: 5px;  font-size: 17px" color="accent" (click)="fileInput.click()"><mat-icon>add circle</mat-icon> Select Text Documents</button>
    <button mat-raised-button style="margin-right: 10px; margin-bottom: 5px;  font-size: 17px" color="warn" (click)="binarization_otsu()">Otsu</button>
    <button mat-raised-button style="margin-right: 10px; margin-bottom: 5px;  font-size: 17px" color="warn" (click)="binarization_sauvola()">Sauvola</button>
    <button mat-raised-button style="margin-right: 10px; margin-bottom: 5px;  font-size: 17px" color="warn" (click)="binarization_gpp()">GPP</button>
    
    <input  style="display: none" type='file' multiple="multiple" (change)="selectFiles($event)" #fileInput accept="image/*">
    

    <div *ngFor="let image of ImageFiles">
        <div style="margin: 10px">
            <div *ngIf="image.name" style="margin: 2px">{{image.name}}</div>
            <img width="300px" src={{image.url}} />
        </div>
        
    </div>
</div>