<div style="margin: 5px">
<button  mat-raised-button color="accent" style="margin-left: 5px; margin-bottom: 5px;" (click)="openDialog()">Select word</button>
<button  mat-raised-button color="primary" style="margin-left: 5px; margin-bottom: 5px;" (click)="rect()">new selection</button>
<button  mat-raised-button color="primary" style="margin-left: 5px; margin-bottom: 5px;" (click)="remove()">remove selection</button>
opacity:  <label class="switch" style="margin-left: 5px;">
            <input type="checkbox" [(ngModel)]="opc" (click)="opacity(!opc)">
            <span class="slider round"></span>
          </label>

</div>
 <!-- <canvas  #canvasfilter></canvas> -->       
 <!--  <img src={{cropImg}}> -->
 
<div class="centerimg">
    <div  style="cursor: crosshair;" class="responsive" mouseWheel (mouseWheelUp)="mouseWheelUpFunc()" (mouseWheelDown)="mouseWheelDownFunc()">
            <img id="target"  [ngStyle]="{'width.px': width }" src={{imageUrl}} >
    </div>
</div>





  
 
 