<div *ngIf="imageUrl">
<button (click)=" CropMe()">crop</button>
<button mat-raised-button style="margin: 10px; font-size: 17px" color="primary" (click)="openDialog()">Select Word</button>
<button mat-raised-button style=" font-size: 17px" color="accent" (click)="clear()">clear</button>
<button mat-raised-button style="margin-left: 10px; font-size: 17px" color="accent" (click)="reset()">reset</button>
<!--<input  type='file' (change)="onFileAdded($event)" #fileInput accept="image/*">-->
<div *ngIf="resultResult" class="responsive">
<br>

<br>
<div *ngIf="flag"><img  [src]="resultResult" /></div>
</div>
    

<angular-cropper #angularCropper
   [cropperOptions]="config" 
   (export)="resultImageFun()" 
   [imageUrl]="imageUrl">
</angular-cropper>
</div>
