@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-blue);
$custom-accent:  mat-palette($mat-pink);
$custom-warn:    mat-palette($mat-yellow, 700);

$custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);


// ALTERNATIVE THEME

$alt-primary: mat-palette($mat-grey, 50);
$alt-accent:  mat-palette($mat-blue);
$alt-warn:  mat-palette($mat-yellow, 700);

$alt-theme: mat-light-theme($alt-primary, $alt-accent, $alt-warn);

.alternative {
    @include mat-slide-toggle-theme($alt-theme);
    @include mat-button-theme($alt-theme);
}

$app-primary: mat-palette($mat-yellow, 700);
$app-accent:  mat-palette($mat-yellow, 700);
$app-theme: mat-light-theme($app-primary, $app-accent);
@mixin mix-app-theme($app-theme) {
    $primary: map-get($app-theme, primary);
    $accent: map-get($app-theme, accent);
  
    .mat-button-toggle {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }
  
    .mat-button-toggle-checked {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
  }
  
  // Include the mixin
  @include mix-app-theme($app-theme);


