
.centerimg{
    display: flex;
    justify-content: center; 
    padding-bottom: 50px;
}

.centerimg .responsive canvas {
    max-width: 100%;
}

.st{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99 !important;
}