
<div *ngIf=imageUrl>
    <div style="margin: 5px">

        <!-- <button  mat-raised-button color="accent" style="margin-left: 5px; margin-bottom: 5px;" (click)="openDialog()">
            <mat-icon>check_circle</mat-icon> Select word
        </button> -->

        <button  mat-raised-button color="accent" style="margin-left: 5px; margin-bottom: 5px;" (click)="displayTextInput()">
            <mat-icon>keyboard</mat-icon> enter word
        </button>
        
        <button  mat-raised-button color="primary" style="margin-left: 5px; margin-bottom: 5px;" (click)="remove()">
            <mat-icon>remove_circle_outline</mat-icon> remove selection
        </button>

        <button  mat-raised-button color="primary" style="margin-left: 5px; margin-bottom: 5px;" (click)="mergeSelection()">
            <mat-icon>crop_16_9</mat-icon> fit in selection
        </button>


        <span class="alternative">
                <mat-slide-toggle color="accent" [(ngModel)]="RectTool" (change)="selectRect()" style="margin-left: 5px; margin-bottom: 5px;">Rect selection tool</mat-slide-toggle>
                <mat-slide-toggle color="accent" [(ngModel)]="LineTool" (change)="selectLine()" style="margin-left: 5px; margin-bottom: 5px;">Line selection tool</mat-slide-toggle>
        </span>
        <div class="tooltip" style="margin-left: 8px; margin-bottom: 5px;">
            <fa-icon [icon]="faInfoCircle"  size="lg"></fa-icon>
            <span class="tooltiptext">
                <div><span style="color:#ffc400;font-weight: bold; font-size: 13px;">mouse wheel:</span> zoom image</div>
                <div><span style="color:#ffc400;font-weight: bold; font-size: 13px;">ALT + mouse drag:</span> drag image around</div>
                <div><span style="color:#ffc400;font-weight: bold; font-size: 13px;">BACKSPACE:</span> remove selection</div>
                <div><span style="color:#ffc400;font-weight: bold; font-size: 13px;">ENTER:</span> open text input</div>
                <div><span style="color:#ffc400;font-weight: bold; font-size: 13px;">CRTL + SPACE:</span> save word</div>
            </span>        
        </div>
    </div>
    
    <div class="st">
            <button  mat-mini-fab  (click)="displayTextInput()" matTooltip="enter word" [matTooltipPosition]="position" color="warn"><mat-icon>keyboard</mat-icon></button>
            <p><button  mat-mini-fab  (click)="remove()" matTooltip="remove selection" [matTooltipPosition]="position" color="warn"><mat-icon>remove</mat-icon></button></p>
    </div>



    <!-- <img src={{cropImg}}> -->

    <div class="centerimg">
        <div  style="cursor: crosshair;" class="responsive" id="wr">
        <canvas class="canvas"  id="canvas"></canvas> 
          <div *ngIf=showTextInput class="arrow_box" [ngStyle]="{'left.px': left, 'top.px': top  }">
                     <mat-form-field color="warn">
                        <input matInput type="text" placeholder="enter word" [(ngModel)]="word" cdkFocusInitial (keydown.control.space)=writeWord()/>
                        <button mat-button *ngIf="word" matSuffix mat-icon-button aria-label="Clear" (click)="word=''">
                          <mat-icon>close</mat-icon>
                        </button>  
                      </mat-form-field>
                      <button mat-raised-button color="warn" (click)="writeWord()"><mat-icon>add</mat-icon> add</button>
                      <span class="alternative"><button mat-button color="primary" color="primary" (click)="cancel()">cancel</button></span>
                      
          </div>
        </div>
    </div>
</div> 