
<div style="margin:10px">
<button (click)="rect()">rect</button>
<button (click)="Line()">line</button>
<button (click)="removeRect()">remove</button>
<button (click)="info()">info</button>
<button (click)="ResetImageToCanvas()">reset Possition</button>
<button (click)="cropImage()">crop</button>
<button (click)="mergeSelection()">merge</button>

</div>

<img src={{cropImg}}>

<div class="centerimg">
    <div  style="cursor: crosshair;" class="responsive">
       <canvas class="canvas"  id="canvas"></canvas>
    </div>
</div>
 